/* src/components/FloatingButton.css */
.floating-button {
    position: fixed;
    bottom: 60px; /* Mueve el botón 20px hacia arriba */
    right: 60px;  /* Mueve el botón 20px hacia la izquierda */
    width: 60px;
    height: 60px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
}

.floating-button.light {
    background-color: white;
    color: black;
}

.floating-button.dark {
    background-color: black;
    color: white;
}

.floating-button:hover {
    background-color: #00b300;
}
